@{
    Layout = "_Layout";
    ViewData["Title"] = "Cadastro de Permissões";
}

<script src="/frameworks/datatable/datatables.min.js"></script>
<link href="/frameworks/datatable/datatables.min.css" rel="stylesheet" />
<script type="text/javascript" src="/JsPagina/Administracao/CadastroUsuario/script.js"></script>
<link rel="stylesheet" href="/css/cadastroUsuario/style.css">


<h1>Cadastro de Permissões</h1>

<form action="/grupos/salvar-permissoes" method="POST">
    <h2>Selecione as telas para cada grupo:</h2>

    <ul>
        <li>
            <input type="checkbox" id="grupo1" name="grupos[]" value="grupo1">
            <label for="grupo1">Grupo 1</label>
            <ul>
                <li>
                    <input type="checkbox" id="tela1" name="telas[]" value="Home">
                    <label for="tela1">Home</label>
                </li>
                <li>
                    <input type="checkbox" id="tela2" name="telas[]" value="Crachá Digital">
                    <label for="tela2">Crachá Digital</label>
                </li>
                <li>
                    <input type="checkbox" id="tela3" name="telas[]" value="Empresa">
                    <label for="tela3">Empresa</label>
                </li>
                <li>
                    <input type="checkbox" id="tela4" name="telas[]" value="Grupo de Usuários">
                    <label for="tela4">Grupo de Usuários</label>
                </li>
                <li>
                    <input type="checkbox" id="tela5" name="telas[]" value="Usuários">
                    <label for="tela5">Usuários</label>
                </li>
                <li>
                    <input type="checkbox" id="tela6" name="telas[]" value="Configuração">
                    <label for="tela6">Configuração</label>
                </li>
                <li>
                    <input type="checkbox" id="tela7" name="telas[]" value="Ponto Eletrônico">
                    <label for="tela7">Ponto Eletrônico</label>
                </li>
                <li>
                    <input type="checkbox" id="tela8" name="telas[]" value="Contra Cheque">
                    <label for="tela8">Contra Cheque</label>
                </li>
                <li>
                    <input type="checkbox" id="tela9" name="telas[]" value="Relatórios - Ponto Eletrônico">
                    <label for="tela9">Relatórios - Ponto Eletrônico</label>
                </li>
                <li>
                    <input type="checkbox" id="tela10" name="telas[]" value="Relatórios - Contra Cheque">
                    <label for="tela10">Relatórios - Contra Cheque</label>
                </li>
                <li>
                    <input type="checkbox" id="tela11" name="telas[]" value="QrCode">
                    <label for="tela11">QrCode</label>
                </li>
                <li>
                    <input type="checkbox" id="tela12" name="telas[]" value="Cadastro">
                    <label for="tela12">Cadastro</label>
                </li>
                <li>
                    <input type="checkbox" id="tela13" name="telas[]" value="Atendimento">
                    <label for="tela13">Atendimento</label>
                </li>
                <li>
                    <input type="checkbox" id="tela14" name="telas[]" value="Relatório de Atendimento">
                    <label for="tela14">Relatório de Atendimento</label>
                </li>
            </ul>
        </li>
        <!-- Adicione mais grupos aqui -->
    </ul>

    <input type="submit" value="Salvar">
</form>