@{
    Layout = "_Layout";
    ViewData["Title"] = "Cadastro Grupo de Usuário";
}

<script src="/frameworks/datatable/datatables.min.js?v=@ViewBag.Versao"></script>
<link href="/frameworks/datatable/datatables.min.css?v=@ViewBag.Versao" rel="stylesheet" />
<script type="text/javascript" src="/JsPagina/Administracao/GrupoUsuario/cadastroGrupoUsuario.js?v=@ViewBag.Versao"></script>
<link rel="stylesheet" href="/css/cadastroUsuario/style.css?v=@ViewBag.Versao">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<div class="table-bordered">
    <h1 class="text-centerador">Grupos de Usuários</h1>
    <br>

    <div class="mb-3">
        <button type="button" class="btn btn-primary" onclick="novoGrupoUsuario();" id="novo">
            Adicionar
        </button>
    </div>

    <table id="tableGrupoUsuario" class="table table-responsive">
        <thead>
            <tr class="titulo">
                <th>ID Grupo Usuário</th>
                <th>Nome</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody class="table-body">
        </tbody>
    </table>
</div>

<div class="modal fade" id="modalGrupoUsuario" tabindex="-1" aria-labelledby="modalGrupoUsuarioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalGrupoUsuarioLabel">Cadastro de Grupo de Usuário</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="formGrupoUsuario">
                    <div class="mb-3">
                        <label for="nomeGrupoUsuario" class="form-label">Nome do Grupo de Usuário:</label>
                        <input type="text" class="form-control" id="nomeGrupoUsuario" required>
                    </div>
                    <div class="mb-3">
                        <label for="tree" class="form-label">Permissões</label>
                        <div id="tree">
                            <!-- A árvore de permissões será preenchida dinamicamente pelo JavaScript -->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" onclick="salvarPermissaoUsuario();">Salvar</button>
            </div>
        </div>
    </div>
</div>

