@{
    Layout = "_Layout";
    ViewData["Title"] = "Importação de Contra Cheque";
}

<script src="/frameworks/datatable/datatables.min.js"></script>
<link href="/frameworks/datatable/datatables.min.css" rel="stylesheet" />
<script type="text/javascript" src="/JsPagina/Administracao/ImportarContraCheque.js"></script>



<div class="table-bordered" style="padding-left:30px;">
    <h1 class="text-centerador">Importar Contra Cheques</h1>
    <br>

    <div class="mb-3">
        <button type="button" class="btn btn-primary" onclick="importarContraCheque();" id="novo">
            Importar Contra Cheques
        </button>
    </div>
</div>
