html, body {
  height: auto;
  margin: auto;
}

#menu-navbar{
  background: linear-gradient(1deg, #20193efb, rgba(68, 42, 201, 0.552));
}

body {

    /* background: linear-gradient(1deg, #0e0832, rgba(29, 19, 78, 0.6)); */
    margin: auto;
}

/* .titulo{
  color: white;
} */

.btn-group {
  display: flex;
}

.btn-group .btn {
  flex: 1;
}

.table-bordered{
  padding: 5%;
}

/* .table-body{
  color: white;
} */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* .table-colab_filter{
  color: white;
} */