html, body {
  height: auto;
  margin: auto;
}

#menu-navbar{
  background: linear-gradient(1deg, #20193efb, rgba(68, 42, 201, 0.552));
}

body {

    /* background: linear-gradient(1deg, #0e0832, rgba(29, 19, 78, 0.6)); */
    margin: auto;
}

#m-imagem-preview {
    width: 200px; /* Defina a largura desejada */
    height: 200px; /* Defina a altura desejada */
    border-radius: 0;
    object-fit: cover; /* Ajusta a imagem para preencher o contêiner */
    object-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
    border: 5px solid #6a5cb8d0; /* Define a largura e estilo da borda */
    border-color: #362694b2; /* Define a cor da borda */
}

.switch-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.switch-label {
    margin-right: 10px;
}

    .switch-label::before {
        content: "Imagem";
    }

    .switch-label::after {
        content: "PDF";
    }

/* .titulo{
  color: white;
} */

.btn-group {
  display: flex;
}

.btn-group .btn {
  flex: 1;
}

.table-bordered{
  padding: 5%;
}

/* .table-body{
  color: white;
} */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* .table-colab_filter{
  color: white;
} */