@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<link href="/css/home/index.css?v=@ViewBag.Versao" rel="stylesheet" />
<script src="/JsPagina/Home/home.js?v=@ViewBag.Versao"></script>

<div class="container" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="cracha">
                <div class="foto">
                    <img id="fotoUsuario" src="#" alt="Foto do colaborador" class="foto-usuario">
                </div>
                <div class="informacoes">
                    <p class="matricula"></p>
                    <p class="nome"></p>
                    <p class="cpf"></p>
                    <p class="email"></p>
                    <p class="status"></p>
                    <p class="funcao"></p>

                    <!-- Botão "Trocar Empresa" -->
                    <button class="btn btn-primary" id="btnTrocarEmpresa" onclick="abrirModalTrocarEmpresa();">Trocar Empresa</button>

                    <!-- Botão "Trocar Senha" -->
                    <button class="btn btn-primary" id="btnTrocarSenha" onclick="abrirModalTrocarSenha();">Trocar Senha</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalContratante">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Selecione a empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="contratoSelect">Empresa:</label>
                    <select class="form-control" style="width: 100%;" id="contratoSelect">
                        <option value="1">Amig</option>
                        <option value="2">LC Gas</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary col-md-3" onclick="salvarEmpresa();">OK</button>
                <button type="button" class="btn btn-secondary col-md-3" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAlterarSenha" tabindex="-1" role="dialog" aria-labelledby="modalAlterarSenhaLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAlterarSenhaLabel">Alterar Senha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="senhaAtual">Senha Atual</label>
                    <input type="password" class="form-control" id="senhaAtual" placeholder="Senha Atual">
                    <span class="erro-senha-atual text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="novaSenha">Nova Senha</label>
                    <input type="password" class="form-control" id="novaSenha" placeholder="Nova Senha">
                    <span class="erro-nova-senha text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="confirmarSenha">Confirmar Senha</label>
                    <input type="password" class="form-control" id="confirmarSenha" placeholder="Confirmar Senha">
                    <span class="erro-confirmar-senha text-danger"></span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="salvarNovaSenha();">Salvar Alterações</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>




