@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<link href="/css/home/index.css" rel="stylesheet" />
<script src="/JsPagina/Home/home.js"></script>

<div class="container" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="cracha">
                <div class="foto">
                    <img id="fotoUsuario" src="#" alt="Foto do colaborador" class="foto-usuario">
                </div>
                <div class="informacoes">
                    <p class="matricula"></p>
                    <p class="nome"></p>
                    <p class="cpf"></p>
                    <p class="email"></p>
                    <p class="status"></p>
                    <p class="funcao"></p>
                </div>
            </div>
        </div>
    </div>
</div>

