@{
    Layout = "_Layout";
    ViewData["Title"] = "Política de Privacidade";
}


<title>Política de Privacidade</title>
<style>

    .containerPoliticaPrivacidade {
        height:100%;
        margin: 0 auto;
        text-align: center;
        background: linear-gradient(1deg, #0e0832, rgba(29, 19, 78, 0.6));
        color: #fff;
        font-family: Arial, sans-serif;
    }

    h2, h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 15px;
    }
</style>

<div class="containerPoliticaPrivacidade">
    <div style="padding-top:40px;">
        <h2>Política de Privacidade</h2>

        <p>Esta Política de Privacidade descreve como são coletadas, usadas e compartilhadas as informações pessoais dos usuários deste site.</p>

        <h3>Coleta de Informações</h3>

        <p>Coletamos informações pessoais dos usuários quando eles preenchem formulários, fazem compras, se inscrevem em boletins informativos ou interagem com o site de outras formas.</p>

        <h3>Uso das Informações</h3>

        <p>As informações pessoais coletadas são usadas para fornecer os serviços solicitados, personalizar a experiência do usuário, melhorar o site e enviar comunicações relacionadas ao site.</p>

        <h3>Compartilhamento de Informações</h3>

        <p>Não compartilhamos informações pessoais dos usuários com terceiros, exceto quando exigido por lei ou quando necessário para fornecer os serviços solicitados pelo usuário.</p>

        <h3>Cookies</h3>

        <p>Utilizamos cookies para melhorar a experiência do usuário, analisar o uso do site e personalizar o conteúdo. Os usuários podem controlar o uso de cookies nas configurações do navegador.</p>

        <h3>Segurança</h3>

        <p>Tomamos medidas de segurança para proteger as informações pessoais dos usuários. No entanto, não podemos garantir a segurança absoluta dos dados transmitidos pela Internet.</p>

        <h3>Alterações nesta Política de Privacidade</h3>

        <p>Reservamos o direito de atualizar esta Política de Privacidade a qualquer momento. As alterações serão publicadas nesta página.</p>

        <p>Entre em contato conosco se tiver alguma dúvida ou preocupação em relação a esta Política de Privacidade.</p>
    </div>    
</div>
