<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - ULTIMATE_MIND</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" id="toggle-btn" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="menu-cracha">Crachá Digital</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"
                           id="menu-adm">Administração</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="menu-dropEmpresa">Empresa</a></li>
                            <li><a class="dropdown-item" href="#" id="menu-dropGrupoUsuario">Grupo de Usuários</a></li>
                            <li><a class="dropdown-item" href="#" id="menu-dropUsuario">Usuários</a></li>
                            <li><a class="dropdown-item" href="#" id="menu-dropConfig">Configuração</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"
                           id="menu-dptPessoal">Departamento Pessoal</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" id="menu-dropPontoEletronico">Ponto Eletrônico</a></li>
                            <li><a class="dropdown-item" href="#" id="menu-dropContraCheque">Contra Cheque</a></li>
                            <li>
                                <a class="dropdown-item dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="#"
                                   id="menu-dropRelatorios">Relatórios</a>
                            <li class="nav-item dropdown">
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" id="">Ponto Eletrônico</a></li>
                                    <li><a class="dropdown-item" href="#" id="">Contra Cheque</a></li>
                                </ul>
                            </li>
                    </li>
                </ul>
                </li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"
                        id="menu-cliente">Cliente</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" id="menu-empresa">QR Code Cliente</a></li>
                        <li><a class="dropdown-item" href="#" id="">Cadastro de clientes</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false"
                        id="menu-atendimento">Atendimento</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" id="dropdown-rendimentos">Rendimentos</a></li>
                        <li><a class="dropdown-item" href="#" id="dropdown-relAtendimentos">Relatório</a></li>
                    </ul>
                </li> -->
                </ul>
                <form role="search">
                    <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                </form>
            </div>
        </div>
    </nav>



	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - ULTIMATE_MIND - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
