<!DOCTYPE html>
<html lang="en">
<head>
    <environment>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ULTIMATE MIND</title>
        <link rel="stylesheet" href="/frameworks/bootstrap-5.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/frameworks/Select2/select2.min.css" />
        <link rel="stylesheet" href="/frameworks/jquery-confirm/dist/jquery-confirm.min.css" />
        <link rel="stylesheet" href="~/Font-Awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <script src="/frameworks/JQuery/jQuery.min.js"></script>
        <script src="/frameworks/Select2/select2.min.js"></script>
        <script src="/frameworks/jquery-confirm/dist/jquery-confirm.min.js"></script>
        <script src="~/frameworks/jQuery-mask/jquery.mask.min.js"></script>
        <script type="text/javascript" src="~/frameworks/bootstrap-5.3.0/popper.js"></script>
        <script type="text/javascript" src="~/frameworks/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>




        @RenderSection("sripts", required: false)
    </environment>

</head>

<body class="vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-menu">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">ULTIMATE MIND</a>
            <button class="navbar-toggler ms-auto hamburger-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

@*                    <li class="nav-item">
                        <a class="nav-link" href="#" id="menu-cracha">Crachá Digital</a>
                    </li>*@

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menu-adm" role="button" data-bs-toggle="dropdown" aria-expanded="false">Administração</a>
                        <ul class="dropdown-menu" aria-labelledby="menu-adm">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Administracao" asp-action="Empresa" id="menu-dropEmpresa">Empresa</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Administracao" asp-action="CadastroGrupoUsuario" id="menu-dropGrupoUsuario">Grupo de Usuários</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Administracao" asp-action="CadastroUsuario" id="menu-dropUsuario">Usuários</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Administracao" asp-action="CadastroAssinatura" id="menu-dropConfig">Cadastro Assinaturas</a></li>
                        </ul>
                    </li>

                    <!-- Novas opções: Cliente -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menu-cliente" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cliente</a>
                        <ul class="dropdown-menu" aria-labelledby="menu-cliente">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="CadastroCliente" id="menu-cadastro">Cadastro</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="CadastroObra" id="menu-obra">Cadastro de Obras</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="Atendimento" id="menu-atendimento">Atendimento</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menu-dptPessoal" role="button" data-bs-toggle="dropdown" aria-expanded="false">Departamento Pessoal</a>
                        <ul class="dropdown-menu" aria-labelledby="menu-dptPessoal">
                            <li><a class="dropdown-item" asp-area="" asp-controller="DepartamentoPessoal" asp-action="CadastroContraCheque" id="menu-dropCadastroContraCheque">Cadastro de Contra Cheque</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DepartamentoPessoal" asp-action="ContraCheque" id="menu-dropContraCheque">Contra Cheque</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="DepartamentoPessoal" asp-action="PontoEletronico" id="menu-dropPontoEletronico">Ponto Eletrônico</a></li>
                        </ul>
                    </li>


                    <!-- Novas opções: Atendimento -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="menu-relatorios" role="button" data-bs-toggle="dropdown" aria-expanded="false">Relatórios</a>
                        <ul class="dropdown-menu" aria-labelledby="menu-relatorios">
                            <li><a class="dropdown-item" asp-area="" asp-controller="RelatorioController" asp-action="RelatorioValidacaoContraCheque" id="menu-dropContraCheque">Contra Cheque</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="RelatorioController" asp-action="RelatorioPonto" id="menu-dropPontoEletronico">Ponto Eletrônico</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="RelatorioController" asp-action="RelatorioAtendimento" id="menu-dropContraCheque">Atendimento</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="RelatorioController" asp-action="RelatorioExportacao" id="menu-dropExportacao">Exportação</a></li>
                        </ul>
                    </li>

					<li class="nav-item">
                        <a class="nav-link" href="#" id="sair-btn" onclick="logout();">Sair</a>
					</li>

                </ul>
            </div>
        </div>
    </nav>



    <div id="content" style="height: 100vh;">
        @RenderBody()
    </div>
</body>
</html>

<script>
    urlSite = "@ViewBag.UrlSite";
</script>