@{
    Layout = "_Layout";
    ViewData["Title"] = "Ponto Eletrônico";
}

<link href="/css/ponto/style.css" rel="stylesheet" />
<script src="/JsPagina/DepartamentoPessoal/PontoEletronico.js"></script>

<script src="/frameworks/JQuery/jQuery.min.js"></script>

<script type="text/javascript" src="~/frameworks/bootstrap-5.3.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/frameworks/bootstrap-5.3.0/css/bootstrap.min.css">

<div class="container mb-2" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
            <div class="cracha">
                <div class="foto">
                    <img id="fotoUsuario" src="/icons/homem-usuario.png" alt="Foto do colaborador" class="foto-usuario">
                </div>
                <div class="informacoes">
                    <p class="matricula"></p>
                    <p class="nome"></p>
                    <p class="cpf"></p>
                    <p class="email"></p>
                    <p class="status"></p>
                    <p class="funcao"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="title" style="text-align: center; font-weight: bold;">Data: </div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Início do Dia</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control" id="entrada1" placeholder="Informe a hora de entrada">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Início do Almoço</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control" id="saida1" placeholder="Informe a hora de saída">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Fim Almoço</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control" id="entrada2" placeholder="Informe a hora de entrada">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Fim Dia</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control" id="saida2" placeholder="Informe a hora de saída">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Jornada</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control" value="08:00" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Teste com o botão*@

        <div class="title" style="text-align: center; font-weight: bold;">Data: </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary toggle-input" data-bs-target="#entrada1">Início do Dia</button>
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Início do Dia</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control input-time" id="entrada1" placeholder="Informe a hora de entrada">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary toggle-input" data-bs-target="#saida1">Início do Almoço</button>
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Início do Almoço</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control input-time" id="saida1" placeholder="Informe a hora de saída">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary toggle-input" data-bs-target="#entrada2">Fim Almoço</button>
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Fim Almoço</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control input-time" id="entrada2" placeholder="Informe a hora de entrada">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary toggle-input" data-bs-target="#saida2">Fim Dia</button>
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Fim Dia</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control input-time" id="saida2" placeholder="Informe a hora de saída">
                    </div>
                </div>
            </div>
        </div>
    </div>


    @*Teste com o modal*@

    <div class="title" style="text-align: center; font-weight: bold;">Data: </div>
    <div class="row">
        <div class="col-12 text-center">
            <button class="btn btn-primary" data-bs-target="#modalEntradaDia">Início do Dia</button>
            <div id="modalEntradaDia" class="modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Início do Dia</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <input type="time" class="form-control" placeholder="Informe a hora de entrada">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Voltar</button>
                            <button type="button" class="btn btn-primary">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
 

    <div class="btn-wrapper text-center mb-4">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#folhaDePontoModal"
                id="historico">
            Historico
        </button>
    </div>

</div>

<div class="modal fade" id="folhaDePontoModal" aria-labelledby="folhaDePontoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="folhaDePontoModalLabel">Folha de Ponto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Entrada</th>
                            <th>Almoço</th>
                            <th>Retorno</th>
                            <th>Saída</th>
                            <th>Jornada</th>
                        </tr>
                    </thead>
                    <tbody id="folhaDePontoBody">
                        <!-- Linhas da folha de ponto -->
                        <tr>
                            <td>1</td>
                            <td><input type="time" class="form-control" value="08:00"></td>
                            <td><input type="time" class="form-control" value="12:00"></td>
                            <td><input type="time" class="form-control" value="13:00"></td>
                            <td><input type="time" class="form-control" value="18:00"></td>
                            <td><input type="time" class="form-control" value="08:00" disabled></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="time" class="form-control" value="09:00"></td>
                            <td><input type="time" class="form-control" value="12:30"></td>
                            <td><input type="time" class="form-control" value="13:30"></td>
                            <td><input type="time" class="form-control" value="18:30"></td>
                            <td><input type="time" class="form-control" value="09:00" disabled></td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td><input type="time" class="form-control" value="08:00"></td>
                            <td><input type="time" class="form-control" value="12:00"></td>
                            <td><input type="time" class="form-control" value="13:00"></td>
                            <td><input type="time" class="form-control" value="18:00"></td>
                            <td><input type="time" class="form-control" value="08:00" disabled></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="time" class="form-control" value="09:00"></td>
                            <td><input type="time" class="form-control" value="12:30"></td>
                            <td><input type="time" class="form-control" value="13:30"></td>
                            <td><input type="time" class="form-control" value="18:30"></td>
                            <td><input type="time" class="form-control" value="09:00" disabled></td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td><input type="time" class="form-control" value="08:00"></td>
                            <td><input type="time" class="form-control" value="12:00"></td>
                            <td><input type="time" class="form-control" value="13:00"></td>
                            <td><input type="time" class="form-control" value="18:00"></td>
                            <td><input type="time" class="form-control" value="08:00" disabled></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="time" class="form-control" value="09:00"></td>
                            <td><input type="time" class="form-control" value="12:30"></td>
                            <td><input type="time" class="form-control" value="13:30"></td>
                            <td><input type="time" class="form-control" value="18:30"></td>
                            <td><input type="time" class="form-control" value="09:00" disabled></td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td><input type="time" class="form-control" value="08:00"></td>
                            <td><input type="time" class="form-control" value="12:00"></td>
                            <td><input type="time" class="form-control" value="13:00"></td>
                            <td><input type="time" class="form-control" value="18:00"></td>
                            <td><input type="time" class="form-control" value="08:00" disabled></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="time" class="form-control" value="09:00"></td>
                            <td><input type="time" class="form-control" value="12:30"></td>
                            <td><input type="time" class="form-control" value="13:30"></td>
                            <td><input type="time" class="form-control" value="18:30"></td>
                            <td><input type="time" class="form-control" value="09:00" disabled></td>
                        </tr>

                        <tr>
                            <td>1</td>
                            <td><input type="time" class="form-control" value="08:00"></td>
                            <td><input type="time" class="form-control" value="12:00"></td>
                            <td><input type="time" class="form-control" value="13:00"></td>
                            <td><input type="time" class="form-control" value="18:00"></td>
                            <td><input type="time" class="form-control" value="08:00" disabled></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><input type="time" class="form-control" value="09:00"></td>
                            <td><input type="time" class="form-control" value="12:30"></td>
                            <td><input type="time" class="form-control" value="13:30"></td>
                            <td><input type="time" class="form-control" value="18:30"></td>
                            <td><input type="time" class="form-control" value="09:00" disabled></td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>