@{
    Layout = "_Layout";
    ViewData["Title"] = "Ponto Eletrônico";
}

<link href="/css/ponto/style.css" rel="stylesheet" />
<script src="/JsPagina/DepartamentoPessoal/PontoEletronico.js"></script>

<link rel="stylesheet" href="/frameworks/bootstrap-5.3.0/css/bootstrap.min.css">

<div class="container">
    <div class="title" style="text-align: center; font-weight: bold; padding-top:30px; font-size:30px;" id="divDataDia"></div>
    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto" id="cardInicioDia">
                <div class="card-header">Início do Dia</div>
                <div class="card-body">
                    <div class="form-group">
                        <button class="btn btn-primary toggle-input" data-bs-target="#entrada1" onclick="inicioDia();" id="btnInicioDia">Início do Dia</button>
                        <input type="time" class="form-control input-time d-none" id="entrada1" style="text-align:center;"  placeholder="Informe a hora de entrada" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto" id="cardInicioAlmoco">
                <div class="card-header">Início do Almoço</div>
                <div class="card-body">
                    <div class="form-group">
                        <button class="btn btn-primary toggle-input" data-bs-target="#saida1" onclick="inicioAlmoco();" id="btnInicioAlmoco">Início do Almoço</button>
                        <input type="time" class="form-control input-time d-none" id="saida1" style="text-align:center;" placeholder="Informe a hora de saída" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto" id="cardFimAlmoco">
                <div class="card-header">Fim Almoço</div>
                <div class="card-body">
                    <div class="form-group">
                        <button class="btn btn-primary toggle-input" data-bs-target="#entrada2" onclick="fimAlmoco();" id="btnFimAlmoco">Fim Almoço</button>
                        <input type="time" class="form-control input-time d-none" id="entrada2" style="text-align:center;" placeholder="Informe a hora de entrada" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto" id="cardFimDia">
                <div class="card-header">Fim Dia</div>
                <div class="card-body">
                    <div class="form-group">
                        <button class="btn btn-primary toggle-input" data-bs-target="#saida2" onclick="fimDia();" id="btnFimDia">Fim Dia</button>
                        <input type="time" class="form-control input-time d-none" style="text-align:center;" id="saida2" placeholder="Informe a hora de saída" disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <div class="card-header">Jornada</div>
                <div class="card-body">
                    <div class="form-group">
                        <input type="time" class="form-control" readonly id="cronometroJornada" disabled style="text-align:center;">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center">
            <div class="card mb-3 mt-4 my-div mx-auto">
                <!-- Aumentei a margem inferior para criar mais espaço -->
                <button type="button" class="btn btn-warning" data-bs-target="#folhaDePontoModal"
                        id="historico" onclick="abrirModalHistorico();">
                    Histórico
                </button>
            </div>
        </div>
    </div>
</div>



<div class="modal modal-xl" id="folhaDePontoModal" aria-labelledby="folhaDePontoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="folhaDePontoModalLabel">Folha de Ponto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Entrada</th>
                            <th>Almoço</th>
                            <th>Retorno</th>
                            <th>Saída</th>
                            <th>Jornada</th>
                        </tr>
                    </thead>
                    <tbody id="folhaDePontoBody">

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
